@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body {
    
   background-color : #255924; 

      width: 95%%;
}

p {
    
    color:white;
    font-size: 50px;
   
}
div {
  display: block; 
  position: relative
  text-align: center;
 
  width:101%;
  margin-left: -10px;
   padding: 1px;
   margin-top: -10px;
  background-color:black;
    
}
h1 {
    font-family: 'Gugi', cursive;
    text-align: center;
    font-size: 100px;
    color:white;
}

a {
    font-family: 'Gugi', cursive;
    line-height: 2;
    text-decoration: none;
}
.emoji {
    display: none;
}
a:hover .emoji {
    display:inline;
}
.text {
   line-height: 80px;
    margin: 50px;
   font-family: 'Ropa Sans', sans-serif;
    font-size: 60px;
    text-align: center;
    
}